# Application
PORT=3000
SERVICE_NAME=library
NODE_ENV=development

# PostgreSQL
POSTGRES_URI=postgresql://postgres:postgres@postgres:5432/library

# JWT
JWT_SECRET=notSoSecretAfterAll
JWT_EXPIRES_IN=7d